@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
	scroll-behavior: smooth;
  }
}

@supports not (min-block-size: 100dvb) {
  :where(html) {
	block-size: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
	background-attachment: initial !important;
	animation-delay: 0s !important;
	animation-duration: 0s !important;
	animation-iteration-count: 1 !important;
	transition: none !important;
  }
}

@keyframes selectall {
  to {
	user-select: text;
  }
}

::selection {
  background-color: var(--color-maple);
  color: var(--color-light);
}

:target {
  animation: 2s ease target;
}

@keyframes target {
  0%, 33% {
	background-color: var(--color-aspen);
	color: var(--color-dark);
  }
}