svg {
  max-inline-size: 0.85em;
  max-block-size: 0.85em;
  fill: currentColor;
}

.people-list {
  list-style: none;
  display: grid;
  grid-template-columns: [image-start] 48px [image-end name-start] auto [name-end page-start] 1fr [page-end];
  align-items: center;
  column-gap: 1rem;
  row-gap: 1.5rem;
  padding: 0;
  margin-block: 2.5rem;
  word-wrap: anywhere;

  li {
	display: contents;

	.image {
	  max-inline-size: 100%;
	  height: auto;
	  grid-column: image;
	  display: grid;
	  place-items: center;
	  font-size: 2em;
	}

	.name {
	  max-inline-size: min(25ch, 30vi);
	  grid-column: name;
	  font-weight: bold;
	}

	.page {
	  grid-column: page;
	}

	.cta {
	  grid-column: name / page;
	}
  }
}