:is(header, main, footer) {
  max-inline-size: 800px;
  margin-inline: auto;
  padding-inline: 20px;
}

:is(header, footer) {
  padding-block: 24px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 24px;
  border-block-end: 2px solid currentColor;
  margin-block-end: 24px;
}

main {
  padding-block-end: 24px;
}

footer {
  margin-block-start: 20px;
  border-block-start: 2px solid currentColor;
  text-align: center;

  p {
	max-inline-size: initial;
  }
}