:is(header, main, footer) {
  max-inline-size: 800px;
  margin-inline: auto;
  padding-inline: 1em;
}

:is(header, footer) {
  padding-block: 3rem;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  border-block-end: 2px solid currentColor;
  margin-block-end: 3rem;

  img {
	image-rendering: pixelated;
  }
}

main {
  padding-block-end: 3rem;
}

footer {
  margin-block-start: 3rem;
  border-block-start: 2px solid currentColor;
  text-align: center;

  p {
	max-inline-size: initial;
  }
}

.flow > * + * {
  margin-block-start: 1em;
}