h1 {
  font-size: var(--font-size-3);
}

h2 {
  font-size: var(--font-size-2);
}

* + h2 {
  margin-block-start: 3rem;
}

p {
  text-wrap: pretty;
  margin-bottom: 16px;
}

hr {
  background-color: currentColor;
  block-size: 2px;
  display: block;
  border: 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  overflow:visible
}

pre {
    background-color: color-mix(in oklab, #000, transparent 90%);
    max-inline-size: clamp(21em, 100vi, 30em);
    border-radius:2px
}

pre code {
    display: block;
    padding: 1em;
    white-space: pre-wrap;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 1rem;
    user-select:all
}

pre code:focus {
    animation:selectall 0.2s step-end forwards
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: left;
}

li {
    flex: 1 1 auto;
    width: fit-content;
    min-width: 0;
    max-width: fit-content;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: var(--color-bg-light);
    text-align: center;
    font-size: var(--font-size-0);
    transition: transform 0.2s, box-shadow 0.2s;
    white-space: nowrap;
}

ul a li  {
  text-decoration: none !important;
}

li:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  li {
    background-color: var(--color-bg-dark);
    color: var(--color-light);
  }
}

@media (max-width: 440px) {
    li {
        flex: 1 1 100%;
        max-width: 100%;
        white-space: normal;
    }
}