:root {
  --color-dark: #20323d;
  --color-light: #e1e1e1;
  --color-anchor-dark: #20323d;
  --color-anchor-light: #c0dbed;
  --color-bg-dark: #000;
  --color-bg-light: #fff;

  --font-size--1: 11px;
  --font-size-0: 18px;
  --font-size-1: 24px;
  --font-size-2: 32px;
  --font-size-3: 48px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}