:root {
  --color-dark: #2b2b2b;
  --color-light: #d9d9d9;
  --color-anchor-dark: #20323d;
  --color-anchor-light: #c0dbed;
  --color-maple: #e0151f;
  --color-aspen: #ffd700;

  --font-size--1: clamp(0.8333rem, 0.7289rem + 0.3341vi, 0.9377rem);
  --font-size-0: clamp(1rem, 0.75rem + 0.8vi, 1.25rem);
  --font-size-1: clamp(1.2rem, 0.7338rem + 1.492vi, 1.6663rem);
  --font-size-2: clamp(1.44rem, 0.6589rem + 2.4996vi, 2.2211rem);
  --font-size-3: clamp(1.728rem, 0.4953rem + 3.9448vi, 2.9607rem);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}